@{
    ViewBag.Title = "Hello";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <span></span>
    <i class="fa fa-envelope"></i>
    <a href="mailto:nelisbelas@gmail.com">E-mail me.</a><br />
</address>