@model IEnumerable<Kokosnoot.Models.BlogPost>

@{
    ViewBag.Title = "Kokosnoot";
}

<section>
    @foreach (var blogPost in Model)
    {
        <div class="page-header">
            <h1>@Html.Encode(blogPost.Title)</h1>
            <span class="glyphicon glyphicon-time"></span>
            <small style="margin-left: 2px">@Html.Encode(blogPost.Published)</small>
        </div>
        <p>
            @Html.Raw(blogPost.Content)
        </p>
    }
</section>
