@model IEnumerable<Kokosnoot.Models.BlogPost>

@{
    ViewBag.Title = "Kokosnoot";
}

<section>
    @foreach (var blogPost in Model)
    {
        @Html.Partial("../BlogPost/_ShowBlogPost", blogPost)
    }
</section>
