body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: orange; 
    background-color: orange; 
}

div.navbar-inverse {
    border-color: #F0F6FF;
}

.jumbotron {
    background-color: #F0F6FF;
}

        <img class="blogpost-img" data-bind="attr:{ src: Url() }, click: $root.showPopup" />
.img {
           max-width: 100%;                                                                                        
                                                                                           
}