@model Kokosnoot.Models.BlogPost

<div class="page-header">
    <h1>@Html.Encode(Model.Title)</h1>
    <span class="fa fa-clock-o "></span>
    <small style="margin-left: 2px">@Html.Encode(Model.Published.ToString("dddd, dd MMMM yyyy"))</small>
</div>
<p>
    @Html.Raw(Model.Content)
</p>

